<%- include('../partials/header') %>

<h1>Skills</h1>
<ul>
  <% skills.forEach(function(s, idx) { %>
    <li>
      <a href="/skills/<%= idx %>"><%= s.name %></a>
    </li>
  <% }); %>
</ul>
<a href="/">Home</a>

<%- include('../partials/footer') %>